<!DOCTYPE html>
<html>
<head>
    <title> PayApp </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    {{!-- You may enable jQuery by uncommenting the line below --}}
    {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script> --}}
    <script type="text/javascript" src="/js/index.js"></script>

</head>
{{{body}}}
</body>
</html>